.pt-1{
    padding-top: 4;
}
.pt-2{
    padding-top: 8;
}
.pt-3{
    padding-top: 12;
}
.pt-4{
    padding-top: 16;
}
.pt-5{
    padding-top: 24;
}
.pt-6{
    padding-top: 32;
}
.pt-7{
    padding-top: 40;
}
.pt-8{
    padding-top: 48;
}
.pt-9{
    padding-top: 56;
}
.pt-10{
    padding-top: 64;
}


.pb-1{
	padding-bottom: 4;
}
.pb-2{
	padding-bottom: 8;
}
.pb-3{
	padding-bottom: 12;
}
.pb-4{
	padding-bottom: 16;
}
.pb-5{
	padding-bottom: 24;
}
.pb-6{
	padding-bottom: 32;
}
.pb-7{
	padding-bottom: 40;
}
.pb-8{
	padding-bottom: 48;
}
.pb-9{
	padding-bottom: 56;
}
.pb-10{
	padding-bottom: 64;
}


.pl-1{
    padding-left: 4;
}
.pl-2{
    padding-left: 8;
}
.pl-3{
    padding-left: 12;
}
.pl-4{
    padding-left: 16;
}
.pl-5{
    padding-left: 24;
}
.pl-6{
    padding-left: 32;
}
.pl-7{
    padding-left: 40;
}
.pl-8{
    padding-left: 48;
}
.pl-9{
    padding-left: 56;
}
.pl-10{
    padding-left: 64;
}


.pr-1{
    padding-right: 4;
}
.pr-2{
    padding-right: 8;
}
.pr-3{
    padding-right: 12;
}
.pr-4{
    padding-right: 16;
}
.pr-5{
    padding-right: 24;
}
.pr-6{
    padding-right: 32;
}
.pr-7{
    padding-right: 40;
}
.pr-8{
    padding-right: 48;
}
.pr-9{
    padding-right: 56;
}
.pr-10{
    padding-right: 64;
}


.py-1{
    padding-top: 4;
    padding-bottom: 4;
}
.py-2{
    padding-top: 8;
    padding-bottom: 8;
}
.py-3{
    padding-top: 12;
    padding-bottom: 12;
}
.py-4{
    padding-top: 16;
    padding-bottom: 16;
}
.py-5{
    padding-top: 24;
    padding-bottom: 24;
}
.py-6{
    padding-top: 32;
    padding-bottom: 32;
}
.py-7{
    padding-top: 40;
    padding-bottom: 40;
}
.py-8{
    padding-top: 48;
    padding-bottom: 48;
}
.py-9{
    padding-top: 56;
    padding-bottom: 56;
}
.py-10{
    padding-top: 64;
    padding-bottom: 64;
}


.px-1{
    padding-left: 4;
    padding-right: 4;
}
.px-2{
    padding-left: 8;
    padding-right: 8;
}
.px-3{
    padding-left: 12;
    padding-right: 12;
}
.px-4{
    padding-left: 16;
    padding-right: 16;
}
.px-5{
    padding-left: 24;
    padding-right: 24;
}
.px-6{
    padding-left: 32;
    padding-right: 32;
}
.px-7{
    padding-left: 40;
    padding-right: 40;
}
.px-8{
    padding-left: 48;
    padding-right: 48;
}
.px-9{
    padding-left: 56;
    padding-right: 56;
}
.px-10{
    padding-left: 64;
    padding-right: 64;
}