.bg-gray-1{
    background-color: var(--gray-1);
}
.bg-gray-2{
    background-color: var(--gray-2);
}
.bg-gray-3{
    background-color: var(--gray-3);
}
.bg-gray-4{
    background-color: var(--gray-4);
}
.bg-gray-5{
    background-color: var(--gray-5);
}
.bg-gray-6{
    background-color: var(--gray-6);
}
.bg-gray-7{
    background-color: var(--gray-7);
}
.bg-gray-8{
    background-color: var(--gray-8);
}
.bg-gray-9{
    background-color: var(--gray-9);
}
.bg-gray-10{
    background-color: var(--gray-10);
}
.bg-gray-11{
    background-color: var(--gray-11);
}


.bg-purple-1{
    background-color: var(--purple-1);
}
.bg-purple-2{
    background-color: var(--purple-2);
}
.bg-purple-3{
    background-color: var(--purple-3);
}
.bg-purple-4{
    background-color: var(--purple-4);
}
.bg-purple-5{
    background-color: var(--purple-5);
}
.bg-purple-6{
    background-color: var(--purple-6);
}
.bg-purple-7{
    background-color: var(--purple-7);
}
.bg-purple-8{
    background-color: var(--purple-8);
}
.bg-purple-9{
    background-color: var(--purple-9);
}
.bg-purple-10{
    background-color: var(--purple-10);
}
.bg-purple-11{
    background-color: var(--purple-11);
}


.bg-red-1{
    background-color: var(--red-1);
}
.bg-red-2{
    background-color: var(--red-2);
}
.bg-red-3{
    background-color: var(--red-3);
}
.bg-red-4{
    background-color: var(--red-4);
}
.bg-red-5{
    background-color: var(--red-5);
}
.bg-red-6{
    background-color: var(--red-6);
}
.bg-red-7{
    background-color: var(--red-7);
}
.bg-red-8{
    background-color: var(--red-8);
}
.bg-red-9{
    background-color: var(--red-9);
}
.bg-red-10{
    background-color: var(--red-10);
}
.bg-red-11{
    background-color: var(--red-11);
}


.bg-orange-1{
    background-color: var(--orange-1);
}
.bg-orange-2{
    background-color: var(--orange-2);
}
.bg-orange-3{
    background-color: var(--orange-3);
}
.bg-orange-4{
    background-color: var(--orange-4);
}
.bg-orange-5{
    background-color: var(--orange-5);
}
.bg-orange-6{
    background-color: var(--orange-6);
}
.bg-orange-7{
    background-color: var(--orange-7);
}
.bg-orange-8{
    background-color: var(--orange-8);
}
.bg-orange-9{
    background-color: var(--orange-9);
}
.bg-orange-10{
    background-color: var(--orange-10);
}
.bg-orange-11{
    background-color: var(--orange-11);
}


.bg-green-1{
    background-color: var(--green-1);
}
.bg-green-2{
    background-color: var(--green-2);
}
.bg-green-3{
    background-color: var(--green-3);
}
.bg-green-4{
    background-color: var(--green-4);
}
.bg-green-5{
    background-color: var(--green-5);
}
.bg-green-6{
    background-color: var(--green-6);
}
.bg-green-7{
    background-color: var(--green-7);
}
.bg-green-8{
    background-color: var(--green-8);
}
.bg-green-9{
    background-color: var(--green-9);
}
.bg-green-10{
    background-color: var(--green-10);
}
.bg-green-11{
    background-color: var(--green-11);
}


.bg-blue-1{
    background-color: var(--blue-1);
}
.bg-blue-2{
    background-color: var(--blue-2);
}
.bg-blue-3{
    background-color: var(--blue-3);
}
.bg-blue-4{
    background-color: var(--blue-4);
}
.bg-blue-5{
    background-color: var(--blue-5);
}
.bg-blue-6{
    background-color: var(--blue-6);
}
.bg-blue-7{
    background-color: var(--blue-7);
}
.bg-blue-8{
    background-color: var(--blue-8);
}
.bg-blue-9{
    background-color: var(--blue-9);
}
.bg-blue-10{
    background-color: var(--blue-10);
}
.bg-blue-11{
    background-color: var(--blue-11);
}


.bg-pink-1{
    background-color: var(--pink-1);
}
.bg-pink-2{
    background-color: var(--pink-2);
}
.bg-pink-3{
    background-color: var(--pink-3);
}
.bg-pink-4{
    background-color: var(--pink-4);
}
.bg-pink-5{
    background-color: var(--pink-5);
}
.bg-pink-6{
    background-color: var(--pink-6);
}
.bg-pink-7{
    background-color: var(--pink-7);
}
.bg-pink-8{
    background-color: var(--pink-8);
}
.bg-pink-9{
    background-color: var(--pink-9);
}
.bg-pink-10{
    background-color: var(--pink-10);
}
.bg-pink-11{
    background-color: var(--pink-11);
}

